.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas{
    border-width: 15px;
    background-color: white;
    border-style: groove;
    border-color: rgb(132, 0, 255);
}